<md-tabs ng-if='isAuthenticated' md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
	<md-tab>
		<md-tab-label>
			<span ui-sref="admin.servers">Servers</span>
		</md-tab-label>
    </md-tab>
    
	<md-tab>
		<md-tab-label>
			<span ui-sref="admin.apps">Applications</span>
		</md-tab-label>
    </md-tab>
	<md-tab>
		<md-tab-label>
			<span ui-sref="admin.deploys">Deploys</span>
		</md-tab-label>
    </md-tab>
</md-tabs>
<md-content flex layout="row" ui-view class="content-wrapper"></md-content>
